:root {
  --background-color: #62708d;
  --highlight-color: #ffcc66;
  --header-height: 75px;
  --footer-height: 30px;
  --sidebar-width: 35vw;
}

body {
  display: grid;
  grid-template:
    var(--header-height) calc(
      100vh - var(--header-height) - var(--footer-height)
    )
    var(--footer-height) / auto 1fr;
  margin: 0;
}

header {
  grid-column: 1 / 4;
  background-color: var(--background-color);
  color: white;
  padding: 0 2em 0 5em;

  display: grid;
  align-items: center;
  grid-template-columns: auto 220px;
  grid-template-rows: 40px 30px;
  grid-template-areas:
    "title bw"
    "subtitle bw";

  div {
    display: grid;
    grid-area: bw;
    font-size: x-small;
    text-align: center;
  }

  img {
    margin-top: 4px;
  }

  a,
  a:visited,
  a:link {
    color: var(--highlight-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

nav {
  border-right: 1px solid var(--background-color);
  grid-column: 1 / 2;
  overflow: auto;
  padding: 0 1em 1em;
  width: var(--sidebar-width);

  a.current {
    background: #ffcc66;
    cursor: none;
    font-weight: bold;
    pointer-events: none;
    text-decoration: none;
  }

  td[width="1"] {
    text-align: right;
    vertical-align: baseline;
    width: 2.5em;
  }

  td[width="15"] {
    width: 0;
  }

  td:nth-child(3) {
    display: flex;

    b {
      display: inline-block;
      min-width: 2em;
      text-align: right;
      margin-right: 8px;
    }
  }

  .hit-count {
    color: red;
    font-weight: bold;
  }
}

main {
  grid-column: 2 / 4;
  overflow: auto;

  .content {
    margin-bottom: 15px;
  }

  mark {
    color: red;
    font-weight: bold;
    background-color: #d6dce5;
  }
}

footer {
  grid-column: 1 / 4;
  display: grid;
  place-items: center;
  background-color: var(--background-color);
  color: white;
}
