:root {
  --background-color: #62708d;
  --highlight-color: #ffcc66;
  --header-height: 75px;
  --footer-height: 30px;
  --sidebar-width: 35vw;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;

  height: 100%;
  height: -webkit-fill-available;
  height: fill-available;

  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

header {
  grid-column: 1 / 4;
  background-color: var(--background-color);
  color: white;
  padding: 0 2em 0 5em;

  display: grid;
  align-items: center;
  grid-template-columns: 75px auto 220px;
  grid-template-rows: 40px 30px;
  grid-template-areas:
    "img title bw"
    "img subtitle bw";

  > img {
    grid-area: img;
    border-radius: 15px;
  }

  h1 {
    grid-area: title;
    margin-top: 25px;
  }

  h3 {
    grid-area: subtitle;
    margin-top: 5px;
  }

  #publisher {
    display: grid;
    grid-area: bw;
    font-size: x-small;
    text-align: center;

    img {
      margin-top: 4px;
    }

    .alt {
      display: none;
      color: white;
      text-decoration: underline;
      &:hover {
        color: var(--highlight-color);
      }
    }
  }

  a,
  a:visited,
  a:link {
    color: var(--highlight-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

nav {
  border-right: 1px solid var(--background-color);
  grid-area: sidebar;
  overflow: auto;
  padding: 0 1em 1em;
  width: var(--sidebar-width);

  a.current {
    background: #ffcc66;
    border-radius: 2px;
    cursor: none;
    font-weight: bold;
    margin: 1px 0;
    padding: 2px 4px;
    pointer-events: none;
    text-decoration: none;
  }

  td[width="1"] {
    text-align: right;
    vertical-align: baseline;
    width: 1em;
  }

  td[width="15"] {
    width: 0;
  }

  td:nth-child(3) {
    display: flex;

    b {
      display: inline-block;
      min-width: 2em;
      text-align: right;
      margin-right: 8px;
    }
  }

  .hit-count {
    color: red;
    font-weight: bold;
  }
}

main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  overflow: auto;

  .content {
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
  }

  mark {
    color: red;
    font-weight: bold;
    background-color: #d6dce5;
  }
}

footer {
  background-color: var(--background-color);
  color: white;
  grid-column: 1 / 4;
  padding: 8px;
  text-align: center;
}
